body {
    margin: 0;
}

#overlay {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
}

#DialogueBlock {
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    width: 100%;
    height: 25%;
    background-color: #242424;
}
#DialogueBlock #DiaBlockBar {
    display: flex;
    justify-content: right;
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: slategrey;
}
#DialogueBlock #DiaBlockBar p{
    margin-top: 0;
    margin-right: 10px;
    margin-bottom: 0;
}
#DialogueBlock #ActorPreview {
    display: flex;
    flex-direction: column;
    left: 10px;
    top: 10px;
}
#DialogueBlock #ActorPreview img{
    width: 12vw;
    height: 12vh;
}
#DialogueBlock #DialogueHolder {
    width: 75vw;
}
#DialogueBlock #NextButtonHolder{
    width: 10vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#DialogueBlock #NextButtonHolder button{
    width: 7vw;
    height: 5vh;
    border-radius: 1em 0.1em 1em 0.1em;
}
#Main.center {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;

}
#Terminal #Topbar{
    width: 100%;
    height: 6%;
    display: flex;
    flex-direction: row;
    color: #cdd6f4;
}
#Terminal #Sidebar {
    height: 100%;
    width: 10%;
    display: flex;
    border-right: #74c7ec 1px solid;
}
#Terminal #BrowserWindow{
    display: flex;
    flex-direction: column;
    height: 94%;
    width: 100%;
}
#Terminal #BrowserWindow #DBQ{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    color: #cdd6f4;
}
#Terminal #BrowserWindow #DBOutput {

}
#Terminal #BrowserWindow #TablesOutput {
    position: relative;
    left: 0;
    top: 0;
}
#Terminal #TerminalWindow{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 90%;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    width: 120px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}
.tab{
    height: 100%;
    width: 5vw;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}
